html {
    background-color: black;
    background-image: url('./images/background.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 62.5%;
}
.App {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    font-size: 9rem;
    color: white;
    text-shadow: 4px 4px 4px #000000;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}
h2 {
    color: white;
}
.nav {
    font-size: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
}
.navLink {
    height: 12vh;
    margin: 1vw;
}
.head {
    display: flex;
    flex-direction: column;
}
.header {
    margin: auto;
    font-size: 8em;
}
.contact {
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 5%;
    width: 80%;
    margin: auto;
    box-shadow: 4px 4px 4px #696767;
}
.music {
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 5%;
    width: 80%;
    margin: auto;
    box-shadow: 4px 4px 4px #696767;
}
.about {
    background-color: rgba(255, 255, 255, 0.571);
    border-radius: 10%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 4px 4px 4px #696767;
}
.link-badge {
    height: 150px;
    padding: 10px;
}
.aboutInfo {
    font-size: 4rem;
    width: 80%;
    margin: auto;
    padding: auto;
}
.songs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.song {
    background-image: url('./images/slide.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song2 {
    background-image: url('./images/glide.JPG');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song3 {
    background-image: url('./images/peng.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song4 {
    background-image: url('./images/arctic.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song5 {
    background-image: url('./images/taku.jpg');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song6 {
    background-image: url('./images/casamir.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song7 {
    background-image: url('./images/mean.JPG');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.song8 {
    background-image: url('./images/gamb.png');
    background-size: 250px;
    height: 250px;
    width: 250px;
    border-radius: 25%;
    margin: 10px;
    box-shadow: 4px 4px 4px #696767;
}
.songName {
    color: white;
    font-size: 4rem;
    text-shadow: 4px 4px 4px #696767;
}

.playStop {
    height: 5vh;
    margin: 1vw;

}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .app {
        width: 30%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .app {
        width: 100%;
    }
}
